*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F3E6D7;
}

h1, h2, h3 {
  font-family: 'YoungSerif', serif;
}

.container {
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5vh;
  margin-top: 5vh;
  border-radius: 25px;
}

h1{
  margin-bottom: 2vh;
}

p{
  margin-bottom: 2vh;
}

.image-omelette{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 2vh;
}

.preparation-time{
  background-color: #FFF7FB;
  padding: 2vh 4vh;
  border-radius: 25px;
  margin-bottom: 2vh;
}

ul{
  padding-left: 16px;
  margin-top: 1vh;
}

li{
  margin-top: 1vh;
}

.ingredients{
  margin-bottom: 2vh;
}

.instructions{
  margin: 2vh 0;
}

.instructions ol{
  padding-left: 20px;
  margin-top: 1vh;
}

.instructions ol li{
  margin-top: 1vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2vh 0;
  font-family: 'Outfit', sans-serif;
  text-align: left;
}

table th, table td {
  padding: 1vh;
  border-bottom: 1px solid #ddd;
  color: #725F59;
}

table th {
  background-color: #f3f3f3;
  font-weight: bold;
}


@media (min-width: 768px){
  .container{
    width: 60%;
  }
}
