*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F3E6D7;
  color: #585858;
}

h1, h2, h3 {
  font-family: 'YoungSerif', serif;
}

h1{
  color: #2F2C2B;
  margin-bottom: 2vh;
}

h2{
  color: #824530;
  margin: 2vh 0;
}

hr{
  margin: 2vh 0;
  border: 0.5px solid #ddd;
}

.container {
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5vh;
  margin-top: 5vh;
  border-radius: 25px;
}


p{
  margin-bottom: 2vh;
}

.image-omelette{
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-bottom: 2vh;
}

.preparation-time{
  background-color: #FFF7FB;
  padding: 2vh 4vh;
  border-radius: 25px;
  margin-bottom: 2vh;
}

.preparation-time h3{
  color: #693348;
}

ul{
  padding-left: 16px;
  margin-top: 1vh;
}

li{
  margin-top: 1vh;
}

ol li::marker, ul li::marker {
  color: #693348;
  font-weight: bold;
}

ol li {
  padding-left: 16px;
}

ul li {
  padding-left: 24px;
}

.ingredients{
  margin-bottom: 2vh;
}

.instructions{
  margin: 2vh 0;
}

.instructions ol{
  padding-left: 20px;
  margin-top: 1vh;
}

span{
  font-weight: bold;
}

.instructions ol li{
  margin-top: 1vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px 0;
  font-size: 18px;
}

th {
  font-weight: normal;
  padding: 8px 24px;
}

td {
  font-weight: bold;
  color: #8d5f58;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}


@media (min-width: 768px){
  .container{
    width: 60%;
  }
}
